.heading{
  color:#160457;
  font-size: 4vw;
  font-family: "Merriweather";
  text-align: center;
}
.heading2{
  color:#2b1b61;
  font-size: 2vw;
  font-family: "Merriweather";
  text-align: center;
}

.label{
  color:#2b1b61;
  font-size: 2vw;
}

.abt{
  font-size: 3vw;
  color:royalblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap:20%;
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2vw;
}

.item >div{
  margin-left: 10px;
}

.full{
  font-size: 5vw;
  color: currentColor;
}

.resize{
  width: 100%;
}

.t-heading{
  font-size: 3vw;
}

.t-subheading{
  font-size:2vw;
}
.t-marks{
  font-size:1vw;
}
