.heading{
  color:#160457;
  font-size: 4vw;
  font-family: "Merriweather";
  text-align: center;
}
.heading2{
  color:#2b1b61;
  font-size: 1.5vw;
  font-family: "Merriweather";
  text-align: center;
}

.label{
  color:#2b1b61;
  font-style: italic;
}

.abt{
  font-size: 3vw;
  color:royalblue;
  font-family: 'Dancing Script', cursive;
}
