.container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 33.33% 33.33% 33.33%; 
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  gap:20%;
}