.container{
  display: grid;
  grid-template-columns: 7vw 7vw 7vw;
  grid-template-rows: 33.33% 33.33% 33.33%; 
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  gap:20%;
}

.item{
  font-size: 1.2vw;
  color: rgb(210, 46, 109);
}